*.bash
*.xyz
*.pyc
*.idx
*.npz
*.png
*.gif
*.pdf
*.dill
*.pickle
*.dat
log
*.log
*.yaml
*POSCAR
*.dot
*.ipynb
*.nnp
*.csv

*.o[0-9]*
*.e[0-9]*
*.po[0-9]*
*.pe[0-9]*

settings.py
phonopy_settings.py

*.DS_Store
.ipynb_checkpoints/
.idea/
