*.bash
*.xyz
*.pyc
*.out
*.idx
*.npy
*.npz
*.png
*.gif
*.pdf
*.json
*.pickle
*.dill
*.profile
*.dat
*log
*.yaml
*POSCAR
*.dot
*.ipynb
*.mprof
*.lprof

*.o[0-9]*
*.e[0-9]*
*.po[0-9]*
*.pe[0-9]*

config.py

*.DS_Store
.ipynb_checkpoints/
