# -*- coding: utf-8 -*-

###########################################################
#
# don't remove this file!
# copy this file to 'config.py', and edit it
#
###########################################################


class hp:
    # about symmetric functions
    Rcs = []
    etas = []
    Rss = []
    lams = []
    zetas = []
    # about training
    learning_rate =
    learning_rate_decay = 1e-3  # after 1000 ite., lr becomes 1/2.
    mixing_beta =
    momentum = 0.9  # for sgd(Nesterov)
    adam_beta1 = 0.9  # for adam
    adam_beta2 = 0.999  # for adam
    epsilon = 1e-8  # for adam
    hidden_layer = ()
    nepoch =
    batch_size =
    batch_size_growth = 1e-3  # after 1000 ite., batch_size becomes x2.
    optimizer = 'sgd' | 'adam' | 'bfgs'
    activation = 'sigmoid' | 'tanh' | 'relu'


class bool_:
    LOAD_WEIGHT_PARAMS =
    SAVE_WEIGHT_PARAMS =
    SAVE_FIG =


class file_:
    xyz_file =
    weight_dir = 'weight_params'
    data_dir = 'data'
    fig_dir = 'figure'
