# -*- coding: utf-8 -*-

###########################################################
#
# don't remove this file!
# copy this file to 'config.py', and edit it
#
###########################################################


class hp:
    # about symmetric functions
    natom =
    Rcs = []
    etas = []
    Rss = []
    lams = []
    zetas = []
    # about training
    learning_rate =
    beta =
    gamma =
    hidden_nodes =
    nepoch =
    nsubset =


class bool:
    IMPORT_QUIPPY =
    LOAD_TRAINING_XYZ_DATA =
    LOAD_WEIGHT_PARAMS =
    SAVE_WEIGHT_PARAMS =


class other:
    xyzfile =
    name =
    output_interval =
