[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ase = "*"
matplotlib = "*"
scikit-optimize = "*"
"mpi4py" = "*"
chainer = "*"
pyyaml = "*"
phonopy = "*"
dill = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "2.7"
