ase==3.17.0
chainer==5.1.0
Click==7.0
cycler==0.10.0
decorator==4.3.0
filelock==3.0.10
Flask==1.0.2
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mpi4py==3.0.0
numpy==1.15.4
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
PyYAML==3.13
scikit-learn==0.20.1
scipy==1.1.0
six==1.12.0
traitlets==4.3.2
Werkzeug==0.14.1
